<div class="font-title text-center mb-10">
    <h1 class="text-3xl font-bold mb-1">Welcome to the Ghibli Library</h1>
    <p class="text-base-content/70">Explore the magical world of Studio Ghibli films. Click on any film to see more details.</p>
</div>

<div>
    <%= render "film_list", locals: { data: @data } %>
</div>