<div class="mx-auto px-4">
  <h2 class="text-2xl font-bold text-center font-button">Film Information</h2>
  <p class="text-center text-gray-600 italic font-body">Explore the magical world of Studio Ghibli films</p>
</div>
<div class="w-full">
  <div class="p-8 flex flex-col md:flex-row gap-8">
    <%= render partial: "ghiblis/film", locals: { film: @film } %>
    <%= render partial: "comments/create_form", locals: {comment: @comment} %>
  </div>
</div>