<div class="navbar bg-base-100 shadow-sm px-4">
    <div class="navbar-start">
        <%= image_tag "hayao-miyazaki.png", alt: "Ghibli Library Icon", class: "size-14" %>
    </div>
    <div class="navbar-center">
        <%= link_to "Ghibli Library", root_path, class: "text-xl font-button font-semibold" %>
    </div>
    <div class="navbar-end">
        <label class="swap swap-rotate" data-controller="theme">
            <input type="checkbox" class="theme-controller" value="dark" />
            <%= icon "sun", library: "phosphor", variant: "bold", class: "size-8 swap-off" %>
            <%= icon "moon", library: "phosphor", variant: "bold", class: "size-8 swap-on" %>
        </label>
    </div>
</div>